.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.absolute {
    position: absolute;
    z-index: 3;
    /* display: none; */
}
.logo {
    width: 280px;
}
.links {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.burger {
    display: none;
}

@media screen and (max-width: 1000px) {
    .main {
        padding: 20px 0;
    }
    .links {
        display: none;
    }
    .burger {
        display: block;
    }
    .transparent {
        background-color: transparent;
        position: absolute;
    }
    .logo {
        position: relative;
        top: 4px;
        width: 200px;
    }
}