.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.main {
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 90px;
    width: 100%;
    z-index: 2;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.buttonContainer {
    margin: auto;
    margin-top: 50px;
}
.navigateBut {
    display: none !important;
}

.lines {
    position: absolute;
    width: 100%;
    bottom: -75%;
    z-index: 0;
    opacity: .5;
    transform: rotate(-0deg) translateX(-0%);
}

@media screen and (max-width: 1440px) {
    .lines {
        position: absolute;
        width: 100%;
        bottom: -90%;
        z-index: 0;
        opacity: .5;
        transform: rotate(-27deg) translateX(-10%);
    }
}

@media screen and (max-width: 568px) {
    .main {
        padding: 0 !important;
        align-items: center;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .header {
        padding: 0 2rem;
        width: 100%;
        box-sizing: border-box;
    }
    .header a {
        display: none;
    }
    .newsWrapper {
        flex-direction: column;
        gap: 2rem;
    }
    .navigateBut {
        display: block !important;
        margin-top: 4rem !important;
        width: fit-content !important;
        font-size: 14px !important;
    }
}

@media screen and (max-width: 350px) {
    .header {
        padding: 0 1rem;
    }
}