.main {
    flex-direction: column;
    width: 100%;
}
.wrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 68px;
}
.wrapper img {
    transition-duration: .3s;
    max-width: 85px;
    height: auto;
}
.wrapper img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 468px) {
    .wrapper {
        justify-content: flex-start;
        gap: 1rem;
    }
    .wrapper a {
        width: 21%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper img {
        max-width: 4rem;
    }
}

@media screen and (max-width: 350px) {
    .wrapper img {
        max-width: 3rem;
    }
    .wrapper a {
        width: 20%;
    }
}