.main {
    padding: 12px 44px !important;
    border-radius: 0 !important;
    border: 1px solid var(--main-orange) !important;
    font-family: 'Helvetica' !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    text-transform: initial !important;
    background-color: transparent !important;
}
.main:hover {
    box-shadow: 0 0 20px -3px var(--main-orange) !important;
}