.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    z-index: 1;
    position: relative;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.social {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 35px;
}
.social a {
    border-radius: 50%;
    background-color: #5445ad;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
}
.social a:hover {
    background-color: var(--main-orange);
}
.social svg {
    font-size: 20px;
}
.mini {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.mini a {
    font-weight: 100;
    font-size: 14px;
    font-family: "NeueMachinaLight" !important;
}
.mini a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 605px) {
    .links {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 468px) {
    .mini {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .mini a {
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .mini {
        align-items: center;
        text-align: center;
    }
}