.main {
    width: 100%;
    margin-top: 100px;
}
.main h5 {
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 1rem;
}
.main iframe {
    width: 100%;
    height: 609px;
    border: none;
}
.video {
    margin-top: 2rem;
}
.photosSection, .videoSection {
    margin-top: 100px;
}
.video img {
}
.photos img {
    transition-duration: .3s;
}
.photos img:hover {
    transform: scale(1.02);
}
.fullAlbumLink {
    margin-top: 2rem;
    display: block;
    color: var(--main-orange);
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .main {
        padding: 0 2rem;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 864px) {
    .main iframe {
        height: 400px;
    }
}

@media screen and (max-width: 468px) {
    .main {
        padding: 0 2rem;
        margin-top: 60px;
    }
    .main iframe {
        height: 220px;
    }
    .photosSection, .videoSection {
        margin-top: 45px;
    }
}

@media screen and (max-width: 350px) {
    .main {
        padding: 0 1rem;
        margin-top: 60px;
    }
}