.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* margin-top: 180px; */
}
.container {
    position: relative;
    /* padding-top: 80px; */
    padding-bottom: 80px;
    gap: 74px;
}
.left {
    width: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}
.left h3 {
    font-weight: 700;
    font-size: 38px;
    line-height: 57px;
    letter-spacing: 0.015em;
    color: #C4C4C4;
}
.date {
    font-weight: 800;
    font-size: 55px;
    line-height: 68px;
    color: white;
    font-family: 'NeueMachina';
}
.liquid {
    bottom: 0;
    position: relative !important;
    object-fit: contain;
    margin-bottom: auto;
}
.right {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.right h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 68px;
    font-family: "Helvetica";
    color: white;
}
.rules {
    white-space: pre-wrap;
    font-weight: 100;
    font-size: 16px;
    line-height: 25px;
    color: white;
    margin-top: 30px;
}
.ticketName {
    color: white;
    font-family: "Rage Italic";
    
  color: white;

  -webkit-text-stroke: 5px #f48ac6;
  paint-order: stroke fill;
  font-size: 32px;

  text-shadow:
    16px 18px 0 #000;
}
.buttons {
    display: flex;
    gap: .5rem;
    align-items: center;
}
.price {
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: white;
    font-family: "Pricedown";
    text-shadow: 2px 2px 2px black
}
.price br {
    display: none;
}
.ticketsBlockContainer {
    padding: 2px;

    box-sizing: border-box;
    margin-top: 30px;
}
.ticketsBlock {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem;
    box-sizing: border-box;
    
    box-sizing: border-box;
}
.block0 {
    background:
    radial-gradient(
      circle at 58% 35%,
      rgba(255, 255, 180, 0.45),
      transparent 8%
    ),
    linear-gradient(
      180deg,
      #dc8b44 0%,
      #d86d5b 35%,
      #ca68b4 70%,
      #3320b6 100%
    );

  clip-path: polygon(
    4% 6%,
    96% 0%,
    92% 92%,
    0% 80%
  );
  padding-bottom: 1rem;
}
.block1 {
    background: white;
    clip-path: polygon(
        0% 3%,   /* верхний левый */
        92% 0%,  /* верхний правый */
        99% 92%, /* нижний правый */
        8% 99%   /* нижний левый */
    );
}
.block1 .ticketsBlock {
    background: black;
    clip-path: polygon(
        0% 3%,   /* верхний левый */
        92% 0%,  /* верхний правый */
        99% 92%, /* нижний правый */
        8% 99%   /* нижний левый */
    );
    /* border: 2px solid #FC99CC; */
    /* border-radius: 4px; */
}
.ticketsCount {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%
}
.ticketsCount label {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: white;
    font-family: "Chalet"
}
.ticketsCount label strong {
    font-family: "ChaletMedium"
}
.countBut {
    min-width: unset !important;
    width: 32px;
    height: 32px;
    background-color: transparent !important;
    border: 1px solid #FC99CC !important;
    box-shadow: 0px 0px 10px 0px #FC99CC !important;
    border-radius: 0 !important;
    color: white !important;
    font-size: 48px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

}
.ticketsCount span {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: white;
    width: 30px;
    text-align: center;
}
.oldPrice {
    text-decoration: line-through;
    font-weight: 300;
}
.totalPrice {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: white;
    margin-top: 2rem;
}
.priceBlock {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.totalPrice label {
    font-size: 20px;
}
.totalPrice span {
    font-size: 24px;
    font-weight: 600;
}
.totalPrice .oldPrice {
    font-weight: 400 !important;
}
.gradient {
    background-image: linear-gradient(
        to right,
        #7068EB 0%,
        #F163C4 27%,
        #F6898F 49%,
        #F79F6F 72%,
        #FCC564 100%
    );
      /* make the gradient fill the text */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

      /* expand the background so movement is visible */
    background-size: 200% 100%;

      /* animate the background-position */
    animation: slide-gradient 4s linear infinite;

    font-size: 16px;
    margin-top: 1rem;
}

@keyframes slide-gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
      }
  }

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column-reverse;
        padding-left: 50px;
        padding-right: 50px;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .price br {
        display: block;
    }
    .main {
        margin-top: 0
    }
    .left {
        min-height: unset;
    }
}

@media screen and (max-width: 468px) {
    .container {
        /* padding-top: 45px; */
        padding-bottom: 45px;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 45px;
    }
    .ticketsBlock {
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
    }
    .ticketType br {
        display: none;
    }
    .ticketType {
        width: 100%;
    }
    .ticketTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .date {
        font-size: 40px;
    }
    .right h3 {
        font-size: 40px;
        line-height: 40px;
    }
    .rules {
        margin-top: 1rem;
    }
    
}

@media screen and (max-width: 400px) {
    .totalPrice {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 350px) {
    .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .price br {
        display: none;
    }
    .right h3 {
        font-size: 30px;
    }
}