.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
}

@media screen and (max-width: 1240px) {
    .main {
        padding: 0;
    }
    .container {
        padding: 0 2rem;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 468px) {
    .container {
        padding: 0 2rem;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 350px) {
    .container {
        padding: 0 1rem;
        box-sizing: border-box;
    }
}