.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: relative;
}
.about {
    margin-top: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
}
.textBlock {
    display: flex;
    justify-content: space-between;
    gap: 105px;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.markdown {
    width: 50%;
    z-index: 1;
    position: relative;
}
.full {
    width: 100%;
}
.buyTicket {
    z-index: 1;
    background: rgba(255, 255, 255, 0.01);
    /* background-blend-mode: overlay; */
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    padding: 70px 75px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.redirectBut {
    width: 140px !important;
    height: 140px !important;
    font-size: 17px !important;
    animation: shadowAnimation 1s infinite !important; 
}
.redirectBut svg {
    position: relative !important;
    top: 8px !important; 
    transition-duration: .3s !important;
}
.slider {
    margin-top: 45px;
    box-sizing: border-box;
    position: relative;
    top: -90px;
}
.sliderEl {
    padding: 0 1rem;
}
.sliderEl iframe {
    border-radius: 12px;
    height: 352px;
}
.featured {
    display: flex;
    flex-direction: column;
}
.main h5 {
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 2rem;
}
.locationScheme {
    position: relative;
}
.locSchemeEl {
    width: 100%;
    position: relative;
    height: 750px;
    /* cursor: pointer; */
    overflow: hidden;
    border-radius: 12px;
}
.locSchemeEl img {
    /* object-fit: contain; */
    border-radius: 12px;
}

@media screen and (max-width: 1450px) {
    .locSchemeEl {
        height: 550px;
    }
}

@media screen and (max-width: 1024px) {
    .locSchemeEl {
        height: 350px;
    }
    .main {
        padding: 0 2rem;
        box-sizing: border-box;
    }
    .textBlock {
        flex-direction: column;
    }
    .markdown {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .locSchemeEl {
        height: 650px;
    }
}

@media screen and (max-width: 658px) {
    .buyTicket {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    .container {
        padding: 0 2rem !important;
    }
    .main {
        padding: 0 0rem;
        margin-top: 45px;
        gap: 45px;
    }
    .textBlock {
        gap: 45px;
    }
    .redirectBut {
        width: 120px !important;
        height: 120px !important;
    }
    .redirectBut p {
        position: relative !important;
        top: 5px !important;
    }
    .featured h5 {
        font-size: 15px;
    }
    .locSchemeEl {
        height: 350px;
    }
}

@media screen and (max-width: 350px) {
    .container {
        padding: 0 1rem !important;
    }
    .sliderEl {
        padding: 0 .5rem;
    }
}

@keyframes shadowAnimation {
    0%, 100% {
        box-shadow: 0 0 20px -3px rgba(255, 85, 0, 0);
    }
    50% {
        box-shadow: 0 0 20px -3px rgba(255, 85, 0, 1);
    }
}