.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 190px;
    gap: 70px;
}
.textBlock {
    display: flex;
    justify-content: space-between;
    gap: 105px;
}
.markdown {
    width: 50%;
}
.full {
    width: 100%;
}
.buyTicket {
    z-index: 1;
    background: rgba(255, 255, 255, 0.01);
    /* background-blend-mode: overlay; */
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    padding: 70px 75px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 65px;
}
.redirectBut {
    width: 140px !important;
    height: 140px !important;
    font-size: 17px !important;
    animation: shadowAnimation 1s infinite !important; 
}
.redirectBut svg {
    position: relative !important;
    top: 8px !important; 
    transition-duration: .3s !important;
}

@media screen and (max-width: 1024px) {
    .main {
        padding: 0 2rem;
        box-sizing: border-box;
    }
    .textBlock {
        flex-direction: column;
    }
    .markdown {
        width: 100%;
    }
}

@media screen and (max-width: 658px) {
    .buyTicket {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    .main {
        padding: 0 2rem;
        margin-top: 90px;
        gap: 45px;
    }
    .textBlock {
        gap: 45px;
    }
    .redirectBut {
        width: 120px !important;
        height: 120px !important;
    }
    .redirectBut p {
        position: relative !important;
        top: 5px !important;
    }
}

@media screen and (max-width: 350px) {
    .main {
        padding: 0 1rem;
    }
}

@keyframes shadowAnimation {
    0%, 100% {
        box-shadow: 0 0 20px -3px rgba(255, 85, 0, 0);
    }
    50% {
        box-shadow: 0 0 20px -3px rgba(255, 85, 0, 1);
    }
}