.main {
    width: 100%;
    height: 485px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 120px;
    box-sizing: border-box;
}
.main h4 {
    font-family: "NeueMachina";
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}
.title {
    background-color: black;
    font-size: 55px;
    padding: 5px 40px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
}
.title h2 {
    color: var(--main-orange) !important;
    position: relative;
    top: 4px;
}
.info {
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
    border-radius: 25px;
    width: 80%;
    padding: 40px 60px;
    box-sizing: border-box;
    position: absolute;
    bottom: -20%;
    display: flex;
    justify-content: space-between;
}
.infoBlock {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.miniTitle {
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.infoData {
    display: flex;
    flex-direction: column;
}
.important {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
}
.infoData span {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    text-transform: capitalize;
    display: block;
    margin-top: 7px;
}
.date {
    width: 30%;
}
.date p {
    text-transform: capitalize;
}
.place {
    width: 40%;
}
.pastInfo {
    margin-top: 6rem;
}
.past {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    margin-top: 3rem;
}
.buy {
    width: fit-content !important;
}
.buy span {
    display: none;
}
.buy button {
    width: 120px !important;
    height: 120px !important;
}
.buy button svg {
    top: 8px !important;
    font-size: 26px !important;
}
.buy button p {
    position: relative !important;
    top: 5px !important;
    white-space: pre-wrap !important;
    font-size: 16px !important;
}
.endEvent {
    width: 50%;
    text-align: right;
}
.date {
    text-align: left;
}

@media screen and (max-width: 1280px) {
    .info {
        padding: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .body {
        height: fit-content
    }
    .main {
        height: fit-content;
        justify-content: flex-start;
        padding: 0 1rem;
        padding-top: 90px;
    }
    .removeBlur {
        background-blend-mode: overlay;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
        padding: 0;
        gap: 2rem;
        position: relative;
        width: 80%;
        bottom: -50px;
    }
    .infoBlock {
        /* background: rgba(255, 255, 255, .1); */
        background-blend-mode: overlay;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        border-radius: 25px;
        padding: 40px 60px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, .2);
    }
    .buyContainer {
        position: relative;
        left: 0;
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
    }
    .buy {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buy button p {
        display: none !important;
    }
    .buy span {
        display: block;
        position: relative;
        z-index: 1;
        font-family: "NeueMachina";
        font-size: 28px;
        left: 1.5rem;
    }
    .buy button svg {
        font-size: 32px !important;
        top: 2px !important;
    }
    .endEvent {
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 568px) {
    /* .main {
        height: calc(100vh - 80px);
    } */
    .infoBlock {
        padding: 2rem 2rem;
    }
    .removeBlur {
        width: 90%;
        gap: 1rem;
    }
    .miniTitle {
        font-size: 15px;
        margin-bottom: 8px;
    }
    .important {
        font-size: 20px;
        line-height: 20px;
    }
    .infoData span {
        font-size: 17px;
        margin-top: 3px;
    }
    .main h4 {
        font-size: 26px;
    }
    .buyContainer {
        justify-content: space-between;
        width: 100%;
        left: 0;
        position: relative;
    }
    .buy {
        padding: 1rem ;
    }
    .buy span {
        display: block;
        position: absolute;
        z-index: 1;
        font-family: "NeueMachina";
        font-size: 24px;
        left: 1rem;
        top: 43%
    }
    .buy button {
        margin-left: auto !important;
        width: 100px !important;
        height: 100px !important;
    }
    .buy button svg {
        font-size: 32px !important;
        top: 2px !important;
    }
}

@media screen and (max-width: 414px) {
    .buy span {
        font-size: 24px;
        left: 1rem;
        top: 43%;
    }
}

@media screen and (max-width: 400px) {
    .buy button {
        margin-left: auto !important;
        width: 85px !important;
        height: 85px !important;
    }
}

@media screen and (max-width: 375px) {
    .buy span {
        font-size: 22px;
        left: 1rem;
        top: 43%;
    }
    .buy button {
        margin-left: auto !important;
        width: 75px !important;
        height: 75px !important;
    }
}


@media screen and (max-width: 350px) {
    .buy button {
        margin-left: auto !important;
        width: 60px !important;
        height: 60px !important;
    }
    .buy button svg {
        font-size: 26px !important;
    }
    .buy span {
        font-size: 17px;
        left: 1rem;
        top: 43%;
    }
}