.main {
    width: 100%;
    height: 485px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 120px;
    padding-top: 12%;
    box-sizing: border-box;
    z-index: 2;
}
.mobile {
    display: none;
}
.main h4 {
    font-family: "NeueMachina";
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;
}
.title {
    background-color: black;
    font-size: 55px;
    padding: 5px 40px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
}
.title h2 {
    color: var(--main-orange) !important;
    position: relative;
    top: 4px;
}
.info {
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
    border-radius: 25px;
    width: 80%;
    padding: 40px 60px;
    box-sizing: border-box;
    position: absolute;
    bottom: -20%;
    display: flex;
    justify-content: space-between;
}
.infoBlock {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.miniTitle {
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.infoData {
    display: flex;
    flex-direction: column;
}
.infoData a:hover {
    text-decoration: underline;
}
.important {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
}
.infoData span {
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    text-transform: capitalize;
    display: block;
    margin-top: 7px;
}
.date {
    width: 20%;
}
.date p {
    text-transform: capitalize;
}
.place {
    max-width: 100%;
    max-width: 310px;
}
.pastInfo {
    margin-top: 6rem;
}
.past {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    margin-top: 3rem;
}
.buy {
    width: fit-content !important;
}
.buy span {
    display: none;
}
.buy button {
    width: 120px !important;
    height: 120px !important;
}
.buy button svg {
    top: 8px !important;
    font-size: 26px !important;
}
.buy button p {
    position: relative !important;
    top: 5px !important;
    white-space: pre-wrap !important;
    font-size: 16px !important;
}
.endEvent {
    width: 50%;
    text-align: right;
}
.date {
    text-align: left;
}
.animatedBut {
    animation: shadowAnimation 1s infinite !important; 
}
.partners {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* position: absolute; */
    /* top: 25%; */
}
.partners img {
    width: 70px;
    transition-duration: .3s;
}
.partners img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1280px) {
    .info {
        padding: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .partners {
        position: relative !important;
        margin-bottom: 1rem;
    }
    .body {
        height: fit-content
    }
    .main {
        height: fit-content;
        justify-content: flex-start;
        padding: 0 1rem;
        padding-top: 4rem;
    }
    .removeBlur {
        background-blend-mode: overlay;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
        padding: 0;
        gap: 2rem;
        position: relative;
        width: 80%;
        bottom: -50px;
    }
    .infoBlock {
        /* background: rgba(255, 255, 255, .1); */
        background-blend-mode: overlay;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        border-radius: 25px;
        padding: 40px 60px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, .2);
    }
    .buyContainer {
        position: relative;
        left: 0;
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
    }
    .buy {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buy button p {
        display: none !important;
    }
    .buy span {
        display: block;
        position: relative;
        z-index: 1;
        font-family: "NeueMachina";
        font-size: 28px;
        left: 1.5rem;
    }
    .buy button svg {
        font-size: 32px !important;
        top: 2px !important;
    }
    .endEvent {
        width: 100%;
        text-align: left;
    }
    .place {
        max-width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .main {
        display: none;
    }
    .mobile {
        display: flex;
        flex-direction: column;
        z-index: 2;
        position: relative;
    }
    .video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        z-index: -1;
        opacity: .8;
    }
    .gradient {
        position: absolute;
        bottom: -1px;
        z-index: 1;
        transform: rotate(180deg);
    }
    .container {
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        z-index: 1;
        padding-bottom: 5rem;
    }
    .partners {
        top: unset !important;
        position: relative !important;
        margin-top: 6rem;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .partners img {
        width: 50px;
    }
    .eventInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .eventInfo h1 {
        font-family: "NeueMachina";
        text-transform: uppercase;
        color: #FF5500;
        opacity: .9;
        font-size: 30px;
        text-align: center;
    }
    .eventInfo h3 {
        font-family: "NeueMachinaLight";
        text-transform: uppercase;
    }
    .dates {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dates p {
        font-family: "NeueMachinaLight";
    }
    .footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .buyTicket {
        font-family: "NeueMachina";
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        cursor: pointer;
    }
    .buyTicket p {
        text-transform: uppercase;
        color: #FF5500;
    }
    .buyButt {
        position: absolute !important;
        border: 1px solid #ff550070 !important;
        color: #ff5500 !important;
        right: 2.5rem !important;
        /* border-radius: 0 !important; */
        font-size: 24px !important;
        width: 70px !important;
        height: 70px !important;
        font-family: "Helvetica" !important;
        animation: shadowAnimation 1s infinite !important; 
    }
    .buyButt svg {
        transform: rotate(180deg);
    }
    .more {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
    .more p {
        font-family: "NeueMachinaLight";
        text-transform: uppercase;
        font-size: 12px;
    }
    .more svg {
        position: relative;
        transform: rotate(90deg);
        font-size: 24px;
        animation: arrowAnimation 1.5s infinite ease-in !important; 
    }
    /* .main {
        height: calc(100vh - 80px);
    } */
    .infoBlock {
        padding: 2rem 2rem;
    }
    .removeBlur {
        width: 90%;
        gap: 1rem;
    }
    .miniTitle {
        font-size: 15px;
        margin-bottom: 8px;
    }
    .important {
        font-size: 20px;
        line-height: 20px;
    }
    .infoData span {
        font-size: 17px;
        margin-top: 3px;
    }
    .main h4 {
        font-size: 26px;
    }
    .buyContainer {
        justify-content: space-between;
        width: 100%;
        left: 0;
        position: relative;
    }
    .buy {
        padding: 1rem;
    }
    .buy span {
        display: block;
        position: absolute;
        z-index: 1;
        font-family: "NeueMachina";
        font-size: 24px;
        left: 1rem;
        top: 43%
    }
    .buy button {
        margin-left: auto !important;
        width: 100px !important;
        height: 100px !important;
    }
    .buy button svg {
        font-size: 32px !important;
        top: 2px !important;
    }
}

@media screen and (max-width: 425px) {
    .buy span {
        font-size: 22px;
        left: 1rem;
        top: 43%;
    }
}

@media screen and (max-width: 400px) {
    .buy button {
        margin-left: auto !important;
        width: 85px !important;
        height: 85px !important;
    }
    .eventInfo h1 {
        font-size: 30px !important;
    }
    .eventInfo h3, .dates p {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 375px) {
    .buy span {
        font-size: 19px;
        left: 1rem;
        top: 43%;
    }
    .buy button {
        margin-left: auto !important;
        width: 75px !important;
        height: 75px !important;
    }
    .partners {
        gap: 1rem;
    }
    .partners img {
        width: 55px;
    }
    .infoBlock {
        padding: 1.5rem;
    }
}


@media screen and (max-width: 350px) {
    .buy button {
        margin-left: auto !important;
        width: 60px !important;
        height: 60px !important;
    }
    .buy button svg {
        font-size: 26px !important;
    }
    .buy span {
        font-size: 17px;
        left: 1rem;
        top: 43%;
    }
    .removeBlur {
        width: 100%;
    }
    .eventInfo h1 {
        font-size: 26px !important;
    }
    .eventInfo h3, .dates p {
        font-size: 14px !important;
    }
    .buyTicket p {
        font-size: 16px !important;
    }
    .buyButt {
        right: .3rem !important;
    }
    .partners img {
        width: 40px;
    }
}


@keyframes shadowAnimation {
    0%, 100% {
        box-shadow: 0 0 20px -3px rgba(255, 85, 0, 0);
    }
    50% {
        box-shadow: 0 0 20px -3px rgba(255, 85, 0, 1);
    }
}


@keyframes arrowAnimation {
    0%, 100% {
        top: 0
    }
    50% {
        top: 5px;
    }
}