.main {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
}
.fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}
.textField {
    width: 60%;
}
.textField div {
    height: 100% !important;
}
.textField textarea {
    height: 100% !important;
}

@media screen and (max-width: 568px) {
    .main {
        flex-direction: column-reverse;
    }
    .fields {
        width: 100%;
    }
    .textField {
        width: 100%;
    }
}