.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.container {
    flex-direction: column !important;
}
.container h2 {
    text-align: center;
}
.container h2::first-letter {
    text-transform: capitalize;
}
.mainInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-top: 70px;
    margin-bottom: 90px;
}
.avatarContainer {
    width: 40%;
    position: relative;
    min-height: 680px;
}
.avatarContainer img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.tabs button {
    color: white !important;
    background-color: transparent !important;
    font-family: 'Helvetica' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 34px !important;
    text-transform: inherit !important;
    width: fit-content !important;
    border-radius: 0 !important;
    z-index: 1 !important;
}
.bio {
    width: 55%;
    display: flex;
    flex-direction: column;
}
.links {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}
.links a {
    font-weight: 100;
}
.links a:hover {
    text-decoration: underline;
}
.soundcloudMusic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 55%;
}
.soundcloudMusic div {
    width: 100%;
}
.youtube {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.youtube iframe {
    width: 100%;
    height: 400px;
    border: none;
}

@media screen and (max-width: 1170px) {
    .mainInfo {
        margin-top: 45px;
    }
    .main {
        margin-top: 45px;
    }
    .mainInfo {
        flex-direction: column;
        gap: 1rem;
    }
    .avatarContainer {
        width: 100%;
    }
    .bio {
        width: 100%;
        flex-direction: column-reverse;
    }
    .links {
        margin-bottom: 2rem;
        justify-content: center
    }
    .soundcloudMusic {
        flex-direction: column;
        width: 100%;
        flex-direction: column-reverse;
        gap: 0;
    }
    .soundcloudMusic iframe {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .youtube {
        width: 100%;
        flex-direction: column-reverse;
    }
    .youtube iframe {
        height: 450px;
    }
}

@media screen and (max-width: 568px) {
    .main {
        margin-top: 20px;
    }
    .tabs button {
        font-size: 18px !important;
    }
    .mainInfo {
        margin-top: 20px;
    }
    .links {
        margin-top: 0;
    }
    .bio {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 468px) {
    .youtube iframe {
        height: 220px;
    }
    .avatarContainer {
        min-height: 400px;
    }
}

@media screen and (max-width: 375px) {
    .links {
        flex-wrap: wrap;
    }
    .links a {
        font-size: 14px;
    }
}