.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 170px
}
.withVideo {
    margin-top: 100px;
}
.main h5 {
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 1rem;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    margin-top: 50px;
}

@media screen and (max-width: 1024px) {
    .main {
        padding: 0 2rem;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 568px) {
    .main {
        padding: 0 2rem;
        margin-top: 75px;
    }
    .withVideo {
        margin-top: 50px;
    }
    .main h5 {
        font-size: 15px;
    }
    .wrapper {
        margin-top: 25px;
    }
}

@media screen and (max-width: 350px) {
    .main {
        padding: 0 1rem;
    }
}