.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 45px;
}
.container {
    flex-direction: column;
}
.withVideo {
    margin-top: 100px;
}
.disableMargin {
    margin-top: 0;
    margin-bottom: 100px;
}
.main h5 {
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 1rem;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}
.newLineUp {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.lines {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 20%;
    opacity: .2;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.lines2 {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 60%;
    opacity: .2;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .main {
        padding: 0 2rem;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 568px) {
    .container {
        padding: 0 2rem !important;
    }
    .main {
        padding: 0 0rem;
    }
    .withVideo {
        margin-top: 50px;
    }
    .main h5 {
        font-size: 15px;
    }
    .wrapper {
        margin-top: 25px;
    }
    .lines2 {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .container {
        padding: 0 1rem !important;
    }
}