@font-face {
    font-family: 'ArialCurvie';
    src: url('../../../../public/fonts/ArialCurvie.otf');
}
  
@font-face {
    font-family: 'QuentinCaps';
    src: url('../../../../public/fonts/QuentinCaps.TTF');
}

.main {
    width: 100%;
    font-family: "ArialCurvie" !important;
    background-color: #1C1C1C;
    background-image: url("../../../../public/images/circus/noise.webp");
    background-attachment: fixed;
}
.main audio {
    position: absolute;
    opacity: 0;
}
.home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.home h1 {
    font-family: "QuentinCaps";
    text-align: center;
    color: #961618;
    font-size: 56px;
    font-weight: 100;
    margin-top: 50px;
}
.homeContent {
    margin-top: auto;
    margin-bottom: 11%;
    z-index: 2;
    text-align: center;
}
.home p {
    font-size: 25px;
}
.homeButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}
.cta {
    font-family: "ArialCurvie" !important;
    font-size: 20px !important;
    text-transform: initial !important;
    color: white !important;
    background-color: #c9070062 !important;
    border-radius: 0 !important;
    border: 1px solid #920000 !important;
    padding: 14px 22px !important;
    width: fit-content !important;
}
.cta:hover {
    box-shadow: 0px 0px 20px -3px red;
    background-color: #920000 !important;
}
.animatedBut {
    animation: shadowAnimation 2s ease-in-out infinite; 
}

.clouds {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: absolute;
    top: 80vh;
    z-index: 2;
}
.cloudsMobile {
    display: none;
}
.textCloudBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.textCloudBlock p {
    z-index: 1;
    position: absolute;
    max-width: 390px;
    text-align: center;
    font-size: 20px;
}
.cloudLeft {
    background-position: right;
}
.cloudRight {
    background-position: left;
}



.video {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 26px 165px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.videoArea iframe {
    width: 100%;
    height: 100%;
}
.videoArea {
    width: 100%;
    height: calc(100vh - 330px);
    position: relative;
    background-color: gray;
    border: 12px solid black;
    z-index: 1;
}
.star {
    position: absolute;
}
.star img {
    object-fit: contain;
}
.star1 {
    left: -35px;
    top: -35px;
    width: 47px;
    height: 50px;
}
.star2 {
    right: -65px;
    top: -65px;
    width: 106px;
    height: 110px;
}
.star3 {
    left: -75px;
    bottom: -75px;
    width: 121px;
    height: 130px;
}
.star4 {
    right: -40px;
    bottom: -40px;
    width: 64px;
    height: 68px;
}
.circus_logo {
    margin-bottom: 24px;
}

.lights {
    width: 100%;
    position: relative;
    top: -120px;
}
.lightsImg {
    /* position: absolute; */
    width: 100%;
    bottom: -550px;
    object-fit: cover;
    z-index: 0;
}
.lights p {
    color: #FEEDB9;
    max-width: 570px;
    margin-left: 190px;
    position: relative;
    top: -150px;
    font-size: 25px;
}

.features {
    width: 100%;
    padding: 0 125px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.featuresCircle {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, rgba(255, 0, 0, 0.356) 0%, transparent 50%);
    z-index: 1;
    position: absolute;
    top: -200px;
}
.clownFaceImg {
    position: absolute;
    width: fit-content;
    z-index: 0;
}
.featuresInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 75px;
    z-index: 2;
}
.featuresInfo .animatedBut {
    width: fit-content;
    align-self: center;
}
.featuresContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.featuresBlock {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.featuresPoint {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.features h2 {
    color: #FF0000;
    font-size: 40px;
}
.features h3 {
    font-size: 30px;
    margin-bottom: 8px;
}
.features h4 {
    color: #FF0000;
    font-size: 22px;
    margin-bottom: 8px;
}
.locationText {
    margin-top: 24px;
}
.features span {
    color: #FF0000;
}
.what {
    width: 100%;
    padding: 0 125px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}
.whatBlock {
    max-width: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
.whatBlock img {
    width: 100%;
    object-fit: cover;
}

.lineup {
    width: 100%;
    padding: 0 125px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 150px;
}
.lineup h2 {
    font-size: 40px;
    color: #FF0000;
}
.handImg {
    position: absolute;
    width: fit-content;
    right: 0;
    top: -138px;
    z-index: 2;
}
.djs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 30px;
    margin-top: 79px;
}
.djs:hover {
    z-index: 3;
}
.dj {
    width: 255px;
    height: 398px;
    cursor: pointer;
    transition-duration: .3s;
    border-radius: 16px;
    position: relative;
    perspective: 1000px;
    background-color: transparent;
}
.dj:hover {
    transform: translateY(-20px);
}
.djContainer {
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.djName {
    font-family: "QuentinCaps";
    font-size: 40px;
    font-weight: 100;
    z-index: 1;
}
.djUpper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 2rem;
    box-sizing: border-box;
}
.djNameBlock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.djNameOther {
    margin-top: auto;
}
.djUpper {
    z-index: 0;
}
.djInner .djNameOther {
    margin-top: auto;
    margin-bottom: auto;
    line-height: normal;
    text-shadow: 0px 0px 15px #000;
}

.djUpper, .djInner {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.djInner {
    border-radius: 16px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 16px solid black;
}

.dj:hover .djContainer {
    transform: rotateY(180deg);
    box-shadow: 0px 0px 20px -3px #FF0000;
    border-radius: 16px;
}
.djInverMobile {
    transform: rotateY(180deg);
}

.djInner {
    transform: rotateY(180deg);
}
.djInner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}
.djInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.djRank {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "QuentinCaps";
    gap: 10px;
}
.djRank p {
    font-size: 30px;
    font-weight: 100;
}
.djRank svg {
    font-size: 26px;
}
.rankTop {
    left: 25px;
    top: 25px;
}
.rankBot {
    flex-direction: column-reverse;
    right: 25px;
    bottom: 25px;
}


.show {
    width: 100vw;
    padding: 8rem 0;
    background: radial-gradient(circle at center, rgba(255, 0, 0, 0.24) 0%, transparent 46%);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showMobile {
    display: none;
}
.showInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
    position: relative;
    top: 50px;
}
.showContent {
    width: 100%;
    height: 682px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showContent button {
    background-color: #920000 !important;
}
.showContent img {
    width: 100%;
    object-fit: cover;
}
.showContent p {
    z-index: 2;
    font-size: 60px;
    line-height: normal;
    text-shadow: 0px 0px 30px #FB7800
}
.showText1 {
    text-align: right;
}
.showText2 {
    text-align: left;
}



.artists {
    width: 100%;
    padding: 0 125px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.artists h2 {
    color: #FF0000;
    font-size: 40px;
    margin-bottom: 33px;
}
.artistsText {
    width: 40%;
}
.artistsText p {
    font-size: 20px;
}
.artists img {
    width: 60%;
    object-fit: cover;
}


.faq {
    width: 100%;
    padding: 0 125px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 200px;
    position: relative;
}
.faq h2 {
    color: #FF0000;
    font-size: 40px;
}
.questions {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-top: 100px;
}
.lampImg {
    position: absolute;
    z-index: 0;
    opacity: 1;
    width: 100%;
    object-fit: cover;
    left: 0;
}

.price {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 110px;
    padding: 0 125px;
}
.priceInfo {
    display: flex;
    flex-direction: column;
    gap: 7px;
    box-sizing: border-box;
}
.priceInfo h2 {
    font-size: 40px;
    color: #FF0000;
}
.priceInfo p {
    font-size: 18px;
}
.chart {
    z-index: 0;
    position: relative;
    top: -50px;
    z-index: 1;
}
.shadowImg {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

.form {
    margin-top: 40px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}
.links {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.link {
    font-family: "ArialCurvie" !important;
}
.link:hover {
    color: #920000 !important;
}
.social {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 35px;
}
.social a {
    border-radius: 50%;
    background-color: #920000;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
}
.social a:hover {
    background-color: red;
}
.social svg {
    font-size: 20px;
}
.mini {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.mini a {
    font-weight: 100;
    font-size: 14px;
    font-family: "ArialCurvie" !important;
}
.mini a:hover {
    text-decoration: underline;
}

@keyframes shadowAnimation {
    0%, 100% {
        box-shadow: 0px 0px 20px -3px rgba(255, 85, 0, 0);
    }
    50% {
        box-shadow: 0px 0px 50px -3px red;
    }
}

@media screen and (max-width: 1440px) {
    .featuresCircle {
        background: radial-gradient(circle at center, rgba(255, 0, 0, 0.356) 0%, transparent 50%);
        top: -50px;
    }
    .show {
        background: radial-gradient(circle at center, rgba(255, 0, 0, 0.24) 0%, transparent 56%);
    }
}

@media screen and (max-width: 1280px) {
    .features, .what, .lineup, .artists, .faq, .price, .home {
        padding: 0 60px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1170px) {
    .home h1 {
        margin-top: 150px;
    }
    .clouds {
        flex-direction: column;
        align-items: center;
        top: 85vh;
        display: none;
    }
    .cloudsMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        width: 100%;
        position: absolute;
        height: 400px;
        z-index: 1;
        top: 80vh;
    }
    .cloudsMobile p {
        max-width: 420px;
    }
    .textCloudBlock {
        width: 100%;
    }
    .homeContent {
        margin-bottom: 30%;
    }
    .lights {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .lights p {
        text-align: center;
        margin-left: 0;
        top: -50px;
    }
    .featuresContent {
        flex-direction: column;
    }
    .featuresBlock {
        width: 100%;
    }
    .featuresCircle {
        top: -350px;
        background: radial-gradient(circle at center, rgba(255, 0, 0, 0.356) 0%, transparent 70%);
    }
}

@media screen and (max-width: 834px) {
    .video {
        padding: 26px 60px;
    }
    .videoArea {
        height: calc(100vh - 500px);
    }
    .lights {
        top: -200px;
    }
    .what {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 100px;
    }
    .whatBlock {
        width: 100%;
        max-width: 100%;
    }
    .handImg {
        display: none;
    }
    .show {
        display: none;
    }
    .showMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10rem 0;
        background: radial-gradient(circle at center, rgba(255, 0, 0, 0.24) 0%, transparent 80%);
        width: 100%;
    }
    .showMobile .showInfo {
        top: -80px;
        flex-direction: column;
        align-items: center;
    }
    .showText1, .showText2 {
        text-align: center;
    }
    .artists {
        flex-direction: column;
    }
    .artistsText, .artists img {
        width: 100%;
    }
    .faq {
        margin-top: 100px;
    }
}

@media screen and (max-width: 768px) {
    .features {
        position: relative;
        top: -100px;
    }
    .featuresCircle {
        top: -150px;
    }
    .what {
        margin-top: 0;
    }
    .lineup {
        margin-top: 100px;
    }
}


@media screen and (max-width: 605px) {
    .footer {
        z-index: 2;
        position: relative;
    }
    .links {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 568px) {
    .home h1 {
        margin-top: 90px;
        font-size: 50px;
    }
    .main h2 {
        font-size: 25px;
    }
    .features, .what, .lineup, .artists, .faq, .priceInfo, .home {
        padding: 0 2rem;
        box-sizing: border-box;
    }
    .home p {
        font-size: 18px;
    }
    .cta {
        font-size: 16px !important;
        padding: 10px 16px !important;
    }
    .cloudsMobile {
        background-size: cover;
        padding: 0 2rem;
        box-sizing: border-box;
    }
    .star1, .star4 {
        width: 43px;
        height: 46px;
    }
    .star2, .star3 {
        width: 62px;
        height: 66px;
    }
    .star2 {
        right: -45px;
        top: -45px;
    }
    .star3 {
        left: -45px;
        bottom: -45px;
    }
    .lights {
        position: relative;
    }
    .lightsImg {
        /* display: none; */
        position: absolute;
        width: 100%;
        bottom: 120%
    }
    .video {
        height: 740px;
        padding: 26px 2rem;
    }
    .videoArea {
        height: 320px;
    }
    .circus_logo {
        position: relative;
        top: 40px;
        z-index: 3;
    }
    .lights {
        top: 0;
        padding: 0 2rem;
        box-sizing: border-box;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .lights p {
        top: 0;
        font-size: 18px;
    }
    .features {
        top: 0;
        justify-content: center;
    }
    .clownFaceImg {
        width: 100%;
    }
    .featuresCircle {
        top: 170px;
    }
    .features h4 {
        font-size: 20px;
    }
    .featurer h3 {
        font-size: 23px;
    }
    .featuresInfo {
        gap: 2rem;
    }
    .lineup {
        margin-top: 70px;
    }
    .djs {
        margin-top: 40px;
    }
    .what {
        margin-top: 70px;
    }
    .showMobile {
        padding: 4rem 0;
    }
    .showContent {
        height: 550px;
    }
    .showContent img {
        object-fit: cover;
    }
    .artistsText p {
        font-size: 16px;
    }
    .shadowImg {
        display: none;
    }
    .price {
        padding: 0;
        margin-bottom: 80px;
    }
    .chart {
        top: 0;
    }
    .priceInfo p {
        font-size: 16px;
    }
}

@media screen and (max-width: 468px) {
    .mini {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .mini a {
        font-size: 14px;
    }
    .what p {
        font-size: 16px;
    }
    .questions {
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .lightsImg {
        bottom: 130%
    }
    .home h1 {
        margin-top: 80px;
        font-size: 45px;
    }
    .cta {
        font-size: 14px !important;
        padding: 10px 10px !important;
    }
    .features h3 {
        font-size: 22px;
    }
}

@media screen and (max-width: 350px) {
    .lightsImg {
        bottom: 110%
    }
    .home h1 {
        margin-top: 70px;
        font-size: 40px;
    }
    .videoArea {
        margin-top: 80px;
    }
    .circus_logo {
        top: 110px;
    }
    .features, .what, .lineup, .artists, .faq, .priceInfo, .home {
        padding: 0 1rem;
    }
    .mini {
        align-items: center;
        text-align: center;
    }
    .showContent p {
        font-size: 45px;
    }
    .cta {
        font-size: 13px !important;
    }
    .home p {
        font-size: 14px;
    }
}