.main {
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 1;
}
.left {
    width: 50%;
    height: 100%;
    position: relative;
}
.titleContainer {
    position: relative;
    width: 408px;
    height: 168px;
}
.leftImgContainer {
    width: 100%;
    height: 90%;
    margin-top: 50px;
    position: relative;
    z-index: 1;
    animation: fadeOpacity 2s infinite alternate;
}
.leftImgContainer img {
    object-fit: contain;
}
.blured {
    background: #df025333;
    filter: blur(40px);
    width: 400px;
    height: 300px;
    position: absolute;
    z-index: 0;
    left: 18%;
    bottom: 20%;
    z-index: 0;
}
.right {
    width: 50%;
}
.electroperedachi {
    font-size: 25px;
    font-weight: bold;
    font-family: "Helvetica" !important;
}
.titleBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.title {
    z-index: 0;
    text-shadow: #B4F57F 0px 0 3px;
    color: black;
    font-size: 60px;
    font-family: "Blaster";
}
.titleAbsolute {
    position: absolute;
    z-index: 0;
    text-shadow: #B4F57F 0px 0 15px;
    color: black;
    font-size: 60px;
    font-family: "Blaster";
    display: none;
}
.rules {
    white-space: pre-wrap;
    font-weight: 100;
    line-height: 25px;
    margin-top: 30px;
}
.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}
.price br {
    display: none;
}
.ticketsBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.ticketsCount {
    display: flex;
    align-items: center;
    gap: 10px;
}
.ticketsCount label {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.countBut {
    min-width: unset !important;
    width: 32px !important;
    height: 32px !important;
    background-color: transparent !important;
    border-radius: 6px !important;
    color: white !important;
    font-size: 22px !important;
    font-weight: 600 !important;
    font-family: "Open Sans" !important;
    border: 1px solid #01DB9B !important;
}
.ticketsCount span {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    width: 30px;
    text-align: center;
}
.oldPrice {
    text-decoration: line-through;
    font-weight: 300;
}
.video {
    width: fit-content !important;
    margin: auto;
}
.titleBlock {
    margin-top: 0px;
}
.ticketsBlock + .ticketsBlock {
    top: -3px;
}
.titleContainer {
    margin-top: 20px;
}

@keyframes fadeOpacity {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

@media screen and (max-width: 1170px) {
    .main {
        flex-direction: column-reverse;
        padding: 0 50px;
        height: fit-content;
        margin-top: 50px;
        align-items: center;
    }
    .leftImgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left, .right {
        width: 100%;
    }
    .left {
        height: 100vh;
    }
    .leftImgContainer {
        margin-top: 0;
        height: 100%;
    }
    /* .left {
        display: none;
    } */
}

@media screen and (max-width: 834px) {
    .left, .poster {
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .price br {
        display: block;
    }
    .main {
        padding: 0 20px;
    }
    .header h2 {
        font-size: 30px;
    }
    .rules {
        font-size: 16px;
        margin-top: 1rem;
    }
    .left {
        height: fit-content;
    }
}

@media screen and (max-width: 468px) {
    .rules {
        margin-top: 1rem;
    }
    .title, .titleAbsolute {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .titleContainer {
        width: 100%;
        height: 145px;
    }
}

@media screen and (max-width: 350px) {
    .main {
        padding: 0 1rem;
    }
    .ticketsBlock {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1rem;
    }
    .price br {
        display: none;
    }
    .left h3 {
        font-size: 20px;
    }
}